// Libs
@import './lib/colors';
@import './lib/vars';

// Base.
@import 'base/page';
@import 'base/typography';

//$md-font-url: "node_modules/ng2-material/dist/";
//@import "node_modules/ng2-material/dist/font.scss";
//@import "node_modules/ng2-material/source/all";

//Fixes an element to the bottom right
.btm-right-fixed{
    position: fixed;
    right: 3%;
    bottom: 3%;
}
